@model Lesson10_VAD.Models.vadMonHoc

@{
    ViewBag.Title = "VADDetails";
}

<h2>VADDetails</h2>

<div>
    <h4>vadMonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vadTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadSotiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadSotiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("VAD-Edit", "VADEdit", new { id = Model.vadMaMH.Trim() }) |
    @Html.ActionLink("Back to List", "VADMonhoc")
</p>
