
<h2 style="text-transform:uppercase">thông tin đăng ký </h2>

<table class="table table-bordered">
    <tr>
        <td>Tên đơn vị tuyển</td>
        <td>@TempData["tendonvituyen"]</td>
    </tr>
    <tr>
        <td>Loại hình doanh nghiệp</td>
        <td>@TempData["LHDN"]</td>
    </tr>
    <tr>
        <td>Số lượng thành viên </td>
        <td>@TempData["soluongthanhvien"]</td>
    </tr>
    <tr>
        <td>Địa chỉ</td>
        <td>@TempData["diachi"]</td>
    </tr>
    <tr>
        <td>Người liên hệ</td>
        <td>@TempData["nguoilienhe"]</td>
    </tr>
    <tr>
        <td>Số điện thoại</td>
        <td>@TempData["sodienthoai"]</td>
    </tr>
    <tr>
        <td>Số Fax</td>
        <td>@TempData["sofax"]</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@TempData["email"]</td>
    </tr>
    <tr>
        <td>Địa chỉ Website</td>
        <td>@TempData["diachiwebsite"]</td>
    </tr>
    <tr>
        <td>Tên đăng nhập</td>
        <td>@TempData["username"]</td>
    </tr>
    <tr>
        <td>Mật khẩu</td>
        <td>@TempData["password"]</td>
    </tr>
    <tr>
        <td>Nhận thư điện tử</td>
        <td>@TempData["Receive"]</td>
    </tr>
</table>