@model Lesson09_VAD.Models.vadKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vadKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VadTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VadTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VadTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VadTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VadMaKH }) |
    @Html.ActionLink("Back to List", "VadIndex")
</p>
