@model Lesson10_VAD.Models.vadSinhVien

@{
    ViewBag.Title = "VADDelete";
}

<h2>VADDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vadSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vadHoSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadHoSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadTenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadTenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadPhai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadPhai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadNgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadNgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadNoiSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadNoiSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadHocBong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadHocBong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadDiemTrungBinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadDiemTrungBinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vadKhoa.vadTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vadKhoa.vadTenKH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "VADSinhvien")
        </div>
    }
</div>
