@model IEnumerable<Lesson10_VAD.Models.vadSinhVien>

@{
    ViewBag.Title = "VADSinhvien";
}

<h2>VADSinhvien</h2>

<p>
    @Html.ActionLink("VADCreate New", "VADCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vadMaSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadHoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadTenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadPhai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadNgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadNoiSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadHocBong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadDiemTrungBinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vadKhoa.vadTenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vadMaSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadHoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadTenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadPhai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadNgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadNoiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadHocBong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadDiemTrungBinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vadKhoa.vadTenKH)
        </td>
        <td>
            @Html.ActionLink("VAD-Edit", "VADEdit", new { id = item.vadMaSV.Trim() }) |
            @Html.ActionLink("VAD-Details", "VADDetails", new { id = item.vadMaSV.Trim() }) |
            @Html.ActionLink("VAD-Delete", "VADDelete", new { id = item.vadMaSV.Trim() })
        </td>
    </tr>
}

</table>
